
<ul>
  <li ng-repeat="categorie in categories | orderBy:value" style=" display:inline; ">
    <a href="" ng-click="recettesByCategorie({{categorie.id_cat}});">{{categorie.value}}</a>
  </li>
</ul>

<div>
    sfd
        <div ng-repeat="recette in recettes" border="1">
          <a href="" ng-click="montrerRe7=!montrerRe7; alert({{recette.id_recette}});">{{recette.titre}}</a>
          <div ng-show="montrerRe7">
            <div ng-bind-html="showHtml(recette.value)">
            </div>
            <p>{{recette.titre}}<p>
            <p><img src="{{urlImg}}{{recette.img}}" style="height:140px; width:140px;"><p>
            <p>{{recette.categorie}}<p>

            <div ng-repeat="ingredient in recette.ingredients">
              <p>{{ingredient.ingredients}} : {{ingredient.value}} {{ingredient.unite}}<p>
            </div>
            
            <div ng-repeat="produit in recette.produits">
              <p>{{produit.value_produit}}<br/>
               <img src="..{{produit.img}}" style="height:140px; width:140px;">
               {{produit.img}}
               <p>
            </div>

            <div ng-repeat="commentaire in recette.commentaires">
              <p>
                {{commentaire.pseudo}}<br/>
                {{commentaire.update}}<br/>
                <div ng-bind-html="showHtml(commentaire.value)"></div>
               <p>
            </div>



          </div>

        </div>


</div>

